@import url('https://fonts.googleapis.com/css?family=Sintony:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Odibee+Sans&display=swap');

#nouvelle{
    background-color: #EFEFEF;
    width: 94%;
    height: 10%;
    position: absolute;
    left: 3%;
    top: 12%; 
    margin: 0px;
}

#nouveaute{
    font-family: "Odibee Sans",sans-serif;
    font-size: 45px;
    padding-left: 10px;
    padding-top: 15px;
    color:#005F9D;
}

#bassinPeel{
    background-color: #EFEFEF;
    width: 43%;
    height: 70%;
    position: absolute;
    left: 5%;
    top: 25%; 
    margin: 0px;
}

#stade{
   height: 55%;
   position: absolute;
   top: 5%;
   left: 5%
}

#matchStade{
   height: 85%;
   position: absolute;
   top: 8%;
   left: 75%
}
#gardePartagee{
   height: 70%;
   position: absolute;
   top: 20%;
   left: 55%
}

#rays{
    background-color: #EFEFEF;
    width: 43%;
    height: 34%;
    position: absolute;
    left: 52%;
    top: 25%; 
    margin: 0px;
}

#blueJays{
    background-color: #EFEFEF;
    width: 43%;
    height: 34%;
    position: absolute;
    left: 52%;
    top: 61%; 
    margin: 0px;
}

#mars2020{
    font-family: "Odibee Sans",sans-serif;
    font-size: 21px;
    padding-left: 10px;
    padding-top: 20px;
    color:#005F9D;
}
#tempsPartiel{
    font-family: "Odibee Sans",sans-serif;
    font-size: 22px;
    padding-left: 10px;
    padding-top: 15px;
    color:#005F9D;
}

#siteFuturStade{
    font-family: "Odibee Sans",sans-serif;
    font-size: 20px;
    padding-left: 25px;
    padding-top: 48%;
    color:#005F9D;
}

#matchPreparatoire{
    padding-left: 25px;
    padding-top: 10px;
    width: 70%;
    line-height: 2em;
    text-align: justify;
    font-family: "Sintony",sans-serif;
    font-size: 11px;

}

#permission{
    padding-left: 25px;
    padding-top: 10px;
    width: 50%;
    line-height: 2em;
    text-align: justify;
    font-family: "Sintony",sans-serif;
    font-size: 11px;
    
}

#parcelleTerrain{
    padding-left: 25px;
    padding-top: 2px;
    width: 95%;
    line-height: 2em;
    text-align: justify;
    font-family: "Sintony",sans-serif;
    font-size: 10px;
    
}